@font-face {
    font-family: 'samark';
    src: url('./SAMAN.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


body {
    height: 100vh;
    margin: 0;
    /* padding: 10px; */
    font-family: Roboto, Oxygen, Ubuntu, sans-serif, sans-serif, sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

header,
footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    background-color: #fef3c7;
}

.heading {
    display: flex;
    font-family: 'samark';
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: #451a03;
}

header>nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    /* align-items: center; */
    /* box-shadow: 0px 5px 2px 0px #4314072f; */
}

/* header>nav {
    box-shadow: 0px 5px 2px 0px #4314072f;
} */

button {
    /* padding-bottom: 20px; */
    margin-top: 10px;
    /* margin-bottom: 2px; */
    font-size: 20px;
    width: 100px;
    border-radius: 20px 20px 0px 0px;
    color: white;
    background-color: #92400e;
    outline: none;
    border: none;
    /* background-color: white; */
}

.unselected {
    color: white;
    background-color: #92400e;
    border: none;
    font-weight: 500;
}

.selected {
    color: #92400e;
    background-color: white;
    border: solid #fbbf24;
    border-width: 5px 5px 0px 5px;
    font-weight: bold;
}


button:focus {
    border: solid 4px #451a03;
}

button:hover {
    background-color: #fbbf24;
    cursor: pointer;
}

.content {
    /* height: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content::before {
    content: "";
    background-image: url('./assets/icon.png');
    background-size: 350px 350px;
    background-position: 0px -5px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

.container {
    position: relative;
    /* height: 500px; */
    width: 800px;
    background-color: #fcd34db9;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    gap: 75px;
    flex-direction: column;
    align-items: center;
}

.content-box,
.title-box,
.name-card {

    border-radius: 25px;
    padding: 20px;
    border: solid #d97706;
    border-width: 3px;

}

.title-box {
    font-family: 'samark';
    background-color: white;
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* color: #451a03; */
    color: #92400e;
    font-weight: bold;
}

/* .title {
    font-size: 20px;
    font-weight: bold;
} */

.content-box,
.name-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 450;
    background-color: #fffbeb;
    color: #451a03;
}


.name-card {
    position: relative;
    align-items: flex-start;
}

.name-card-photo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.box-title {
    font-family: 'samark';
    font-size: 25px;
    font-weight: bold;
    color: #92400e;
}

.item-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    /* gap: 10px; */
    /* font-weight: 450;
    background-color: #fffbeb;
    color: #451a03; */
}

.price {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-weight: 900;
}

.item-info {padding-top: 5px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-photo {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
    border: solid 1px #d97706;
}

p {
    margin: 0;
    padding: 0;
}