html {
    height: 100vh;
  }
  
  div {
    font-size: 1.6rem;
    padding: 20px;
    border: 3px solid red;
    border-radius: 20px;
    width: 480px;
  
    display: none;
    opacity: 0;
    transition:
      opacity 1s,
      display 1s allow-discrete;
    /* Equivalent to
    transition: all 1s allow-discrete; */
  }
  
  .showing {
    opacity: 1;
    display: block;
  }
  
  @starting-style {
    .showing {
      opacity: 0;
    }
  }
  